Skip to content
 
Search or jump to°≠

Pull requests
Issues
Marketplace
Explore
 
@snyep 
 Watch 0
 Star 0  Fork 0 snyep/snyep
 Code  Issues 0  Pull requests 0  Projects 0  Wiki  Security  Insights  Settings
Branch: master 
snyep/SNYEPCS/SNYEP.plist
Find file Copy path
@snyep snyep Update SNYEP.plist
2d5ed9d on 14 Nov 2017
1 contributor
50 lines (49 sloc)  1.21 KB
RawBlameHistory
    
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://snyep.github.io/snyep/SNYEPCS/SNYEP.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://snyep.github.io/snyep/SNYEPCS/download_photo_app.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://snyep.github.io/snyep/SNYEPCS/download_photo_app.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yonyou.snyepcs</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string></string>
				<key>title</key>
				<string>≤‚ ‘ •≈©‘∆≤…</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
? 2019 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
